.legajo-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registro-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registro-container div input{
    width: 80vw;
}